<div class="row p-2 pb-5">
    
    
  <div class="col-sm-8 card p-2">
    <%= render 'layouts/smartphone_menu' %>
    
    
    <div>
      <div>
        <p><%= image_tag @user.image.url, :size => '180x180', class: 'd-block mx-auto', alt: "User Icon." %></p>
        <div class="text-right">
          <% if current_user == @user %>
            <%= link_to edit_user_path(@user), class:"btn btn-default" do %>
            <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
          
          
          <% if logged_in? %>
            <%= render 'relationships/follow_button', user: @user %>
          <% end %>
          
        </div>
        <p class="pl-3"><strong><%= @user.name %></strong></p>
        <p class="pl-3 py-1"><%= @user.prof %></p>
      </div>
    </div>

  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">ユーザーの投稿  <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー中  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
    </ul>
    <%= render 'users', users: @followings %>
  </div>
</div>


    <aside class="col-sm-3 hide-sidemenu">
      <div class="btn-group-vertical btn-block fix">
        <%= render "layouts/sidemenu" %>
        <%= link_to '一覧に戻る', root_path, class: 'btn btn-light btn-block' %>
      </div>
    </aside>
    
  </div>

  <div class="push"></div>
  <div>
    <%= render "layouts/footer" %>
  </div>
