
  <div class="row p-2 pb-5">
    <div class="col-sm-8 card p-2">
      <%= render 'layouts/smartphone_menu' %>
      <div class="card-header">
        <h2>お気に入り</h2>
      </div>
      <div class="pt-2">
        <% if  @posts.present? %>
          <%= render 'posts/posts', posts: @posts %>
        <% else %>
          <div class="card text-center empty-card">
            <p class="p1">お気に入りに登録した投稿がここに表示されます。</p>
          </div>
        <% end %>
      
      </div>
    </div>
    
    
    <aside class="col-sm-3 hide-sidemenu">
      <div class="btn-group-vertical btn-block fix">
        <%= render "layouts/sidemenu" %>
        <%= link_to '一覧に戻る', root_path, class: 'btn btn-light btn-block' %>
      </div>
    </aside>
    
  </div>


  <div class="push"></div>
  <div>
    <%= render "layouts/footer" %>
  </div>
