    <% if logged_in? %>
      <div class="row p-2 pb-5">
        <div class="col-sm-8 card p-3">
          <%= render 'layouts/smartphone_menu' %>
          <div class="box">
            <% if  @posts.present? %>
              <%= render 'posts/posts', posts: @posts %>
            <% else %>
              <div class="card text-center empty-card border border-light">
                <p class="p1">まだ投稿はありません。</p>
                <p><B>新規投稿</B>からPixにあなたのお気に入りの写真をシェアできます。</p>
              </div>
            <% end %>
          </div>
        </div>
        
        <aside class="col-sm-3 hide-sidemenu">
          <div class="btn-group-vertical btn-block fix">
            <%= render "layouts/sidemenu" %>
          </div>
        </aside>
      </div>
      
    <% else %>
      <div class="center jumbotron">
        <div class="text-center">
          <h1>Pix.</h1>
          <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    <% end %>
    
    <div class="push"></div>
    <div>
      <%= render "layouts/footer" %>
    </div>

