<ul class="list-unstyled">
  <% @posts.each do |post| %>
    <li class="media mb-3">
      <%= image_tag post.user.image.url, :size => '50x50', alt: "User Icon.", class: "rounded-circle" %>
      <div class="media-body card ml-2 pt-2 px-2">
        <div>
          <b><%= link_to post.user.name, user_path(post.user) %></b> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div>
          <% if logged_in? %>
          <% end %>
          <p class="px-2"><%= post.content %></p>
          <%= image_tag(post.image_url, alt: "User Icon.", class: "img-responsive rounded mx-auto d-block") if post.image.present? %>
        </div>


        
        
        <table><tr>
          <td style="vertical-align:middle;">
            <%= link_to post_path(post), class:"btn btn-default" do %>
              <i class="far fa-comment-dots mr-2"></i>詳細 (Comment)
            <% end %></td>
            <% if logged_in? %>
          <td style="vertical-align:middle;" class="heart"><%= render "favorites/favorites_button", post: post %></td>
            <% end %>
        </tr></table>
        
        
        
        
        
        
        
        
        
      </div>
    </li>
  <% end %>
</ul>
<div class="mx-auto mt-5" style="width: 230px;">
  <%= paginate posts %>
</div>
