<ul class="list-unstyled">
  <% @posts.each do |post| %>
    <li class="media mb-3">
      <%= image_tag post.user.image.url, :size => '50x50' , alt: "User Icon." %>
      <div class="media-body card ml-2 p-2">
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div>
          <% if logged_in? %>
          <div class="text-right"><%= render "favorites/favorites_button", post: post %></div>
          <% end %>
          <p><%= post.content %></p>
          <%= image_tag(post.image_url, alt: "User Icon.", class: "img-responsive") if post.image.present? %>
        </div>

        <div class="text-right">
          <%= link_to post_path(post), class:"btn btn-default btn-sm" do %>
            <i class="far fa-comment-dots"></i>　詳細 (Comment)
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div class="mx-auto mt-5" style="width: 230px;">
  <%= paginate posts %>
</div>
