    <div class="row p-2 pb-5">
    <div class="col-sm-8 card p-2">
      <%= render 'layouts/smartphone_menu' %>
      <div class="card-header">
        <h2 class="card-title">投稿内容の編集</h2>
      </div>
      <div class="box mt-1">
        <div class="form-group field">
          <%= form_with(model: @post, local: true) do |f| %>
          
            <%= render 'layouts/error_messages', model: f.object %>
          
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
            
  
            
            
            <!-- 追加個所 -->
            <div class="field mt-3 p-3">
              <% if @post.image? %>
                <div class="thumbnail">
                <%= image_tag @post.image.url, class: 'd-block mx-auto', alt: "image"  %>
              </div>
            <% end %>
            
              <%= f.file_field :image, class: 'small mt-4' %>
              <%= f.hidden_field :image_cache %>
            
            
            <div class="field text-right small">
              <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
              <% if @post.persisted? && @post.image? %>
                <label>
                <%= f.check_box :remove_image %>
                画像を削除
              </label>
            <% end %>
            </div>
            <!-- 追加個所終了 -->
            </div>
            <div class="text-center">
            <%= f.submit '　変更　', class: 'btn btn-info mt-2 rounded-pill mx-auto d-block' %>
            
            </div>
          <% end %>
        </div>
      </div>
    </div>



    <aside class="col-sm-3 hide-sidemenu">
      <div class="btn-group-vertical btn-block fix">
        <%= render "layouts/sidemenu" %>
        <%= link_to '一覧に戻る', root_path, class: 'btn btn-light btn-block' %>
      </div>
    </aside>
    
  </div>
  
  
  <div class="push"></div>
  <div>
    <%= render "layouts/footer" %>
  </div>
