
  <div class="row p-2 pb-5">
    <div class="col-sm-8 card p-2">
      <%= render 'layouts/smartphone_menu' %>
      <div class="card-header">
        <h2>新規投稿</h2>
      </div>
      <div class="box mt-1">
        <%= form_with(model: @post, local: true) do |f| %>
        
          <%= render 'layouts/error_messages', model: f.object %>
          
          <div class="form-group field">
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
            <%= f.file_field :image, class: 'mt-2' %>
          </div>
          <%= f.submit '　投稿　', class: 'btn btn-info rounded-pill mx-auto d-block' %>
        <% end %>
      </div>
    </div>
    
    
    <aside class="col-sm-3 hide-sidemenu">
      <div class="btn-group-vertical btn-block fix">
        <%= render "layouts/sidemenu" %>
        <%= link_to '一覧に戻る', root_path, class: 'btn btn-light btn-block' %>
      </div>
    </aside>
    
  </div>

  <div class="push"></div>
  <div>
    <%= render "layouts/footer" %>
  </div>
