<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- BootstrapのCSS読み込み -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- 自作CSS読み込み -->
  <link rel="stylesheet" type="text/css" href="./../stylesheets/application.css">
  <!-- fontawesomeのCSS読み込み -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  
  <div class="row p-2 pb-5">
    <div class="col-sm-8 card p-2">
      <%= render 'layouts/smartphone_menu' %>
      <div class="card-header">
        <h2>投稿詳細</h2>
      </div>

      <ul class="list-unstyled">
  
        <li class="media mb-3 pt-2">
           <%= image_tag @post.user.image.url, :size => '50x50' %>
      
            <div class="media-body">
                <div>
                  <%= link_to @post.user.name, user_path(@post.user) %> <span class="text-muted">posted at <%= @post.created_at %></span>
                </div>
                <div>
                  <div class="text-right"><%= render "favorites/favorites_button", post: @post %></div>
                    <p><%= @post.content %></p>
                    <%= image_tag(@post.image_url, class: "img-responsive") if @post.image.present? %>
                </div>
                
                <div class="text-right">
                  <% if current_user == @post.user %>
                    <%= link_to '編集', edit_post_path(@post), class: 'btn btn-light btn-sm' %>
                    <%= link_to "削除", @post, method: :delete, data: { confirm: "投稿を削除しますか？" }, class: 'btn btn-info btn-sm' %>
                  <% end %>
                  
                </div>
            
        
                <div class="jumbotron bg-light mx-auto">
                  <%= form_with(model:[@post, @comment], local: true) do |f| %>
                  <div class="form-group">
                    <%= f.label :comment_content, "コメント"  %>
                    <% f.hidden_field :post_id, value: @post.id %>
                    <%= f.text_area :comment_content, class: "form-control" %>
                  </div>
                  <%= f.submit '送信', class: "btn btn-info btn-block" %>
                  <% end %>
                </div>
                
                <hr width="80%" align="center">
                
                
                <div class="text-center"><strong>コメント一覧</strong></div>
                <% if @comments.any? %>
                  <% @comments.each do |comment| %>
                <div class="py-3">
                  <p><%= image_tag comment.user.image.url, :size => '50x50' %><%= link_to comment.user.name, user_path(comment.user) %> <span class="text-muted">commented at <%= comment.created_at %></p>
                  <p><%= comment.comment_content %></p>
                  <% if current_user == comment.user %>
                  <%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: "コメントを削除しますか？" }, class: 'btn btn-danger btn-sm' %>
                  <% end %>
                  <hr width="80%" align="center">
                </div>
                  <% end %>
                <% end %>
                
                  
        </div>
      </li>
    </ul>
   

   </div>


    <aside class="col-sm-3 hide-sidemenu">
      <div class="btn-group-vertical btn-block fix">
        <%= render "layouts/sidemenu" %>
        <%= link_to '一覧に戻る', root_path, class: 'btn btn-light btn-block' %>
      </div>
    </aside>
    
    <div class="push"></div>
    <div>
      <%= render "layouts/footer" %>
    </div>
  
  
  </body>
</html>